<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>
	<div class="container">
		<div class="page-header">
			<h1>
				</br>
				Train Times in Salem <small></small>
			</h1>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">Arrival times and predictions for Salem</div>
			<div class="panel-body">



					<div class="row">
						<div class="col-md-6">
						<h2>To Boston</h2>

								  <%
								   try {
										for(var i=0; i<salemSchedule['table'].length; i++) {
											if(salemSchedule['table'][i]['train_direction'] == 1){

									%>
										<tr>
											</br>


											<td>Predicted Arrival: <%= salemSchedule['table'][i]['predictedTime'] %> in <%= salemSchedule['table'][i]['timeLeft'] %> minutes </td>

											}
										}
										} catch(err){}
									%>

					</div>
					<div class="col-md-6">
						<h2>To Salem</td></h2>
						<%
						 try {
							for(var i=0; i<salemSchedule['table'].length; i++) {
								if(salemSchedule['table'][i]['train_direction'] == 0){

						%>
							<tr>
								</br>


								<td>Predicted Arrival: <%= salemSchedule['table'][i]['predictedTime'] %> in <%= salemSchedule['table'][i]['timeLeft'] %> minutes </td>

								}
							}
							} catch(err){}
						%>

					</div>
					<div class="col-md-12">
						<h2>Alerts</h2>
									<%
								   try {
										for(var i=0; i<trainAlerts['alerts'].length; i++) {

									%>
										<tr>
										<td>	<%= trainAlerts['alerts'][i]['short_header_text'] %> </td>
										</br>
										</br>
										</tr>
									<%

										}
										} catch(err){}
									%>

								
			</div>
		</div>

		<hr>

	<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#trains').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
